<form [formGroup]="imovelForm" class="container">
  <div class="row">
    <h5 class="h5">RESPONSÁVEL</h5>
    <div class="col-md-6 col-sm-12">
      <label for="proprietario" class="form-label">Proprietário</label>
      <input formControlName="proprietario" id="proprietario" type="text" class="form-control"
        placeholder="Proprietário" />
    </div>
    <div class="col-md-6 col-sm-12">
      <label for="corretor" class="form-label">Corretor</label>
      <input formControlName="corretor" id="corretor" type="text" class="form-control" placeholder="Corretor" />
    </div>
  </div>
  <hr>
  <div class="row">
    <h5 class="h5">INFORMAÇÕES</h5>
    <div class="col-md-4 col-sm-12">
      <label for="id" class="form-label">Código Ref.</label>
      <input formControlName="id" id="id" type="text" class="form-control" placeholder="Código Ref."
        aria-label="Código Ref." />
    </div>
    <div class="col-md-4 col-sm-12">
      <label for="finalidade" class="form-label">Finalidade</label>
      <select formControlName="finalidade" id="finalidade" type="text" class="form-control" placeholder="Finalidade">
        <option label="Venda" value="Venda"></option>
        <option label="Aluguel" value="Aluguel"></option>
      </select>
    </div>
    <div class="col-md-4 col-sm-12">
      <label for="tipoImovel" class="form-label">Tipo Imóvel</label>
      <select formControlName="tipoImovel" id="tipoImovel" type="text" class="form-control" placeholder="Tipo Imóvel"
        aria-label="Tipo Imóvel">
        <option label="Casa" value="Casa"></option>
        <option label="Geminado" value="Geminado"></option>
        <option label="Sobrado" value="Sobrado"></option>
        <option label="Sobrado Geminado" value="Sobrado Geminado"></option>
        <option label="Apartamento" value="Apartamento"></option>
        <option label="Kit net" value="Kit net"></option>
      </select>
    </div>
  </div>
  <hr>
  <div class="row" formGroupName="localizacao">
    <h5 class="h5">LOCALIZAÇÃO</h5>
    <div class="col-md-6 col-sm-12">
      <label for="cep" class="form-label">CEP</label>
      <input (change)="buscarInfoCEP(cep.value)" #cep formControlName="cep" id="cep" type="text" class="form-control"
        placeholder="CEP"/>
    </div>
    <div class="col-md-6 col-sm-12">
      <label for="logradouro" class="form-label">Logradouro</label>
      <input formControlName="logradouro" id="logradouro" type="text" class="form-control" placeholder="Logradouro" />
    </div>
    <div class="col-md-6 col-sm-12">
      <label for="numero" class="form-label">Número</label>
      <input formControlName="numero" id="numero" type="text" class="form-control" placeholder="Número" />
    </div>
    <div class="col-md-6 col-sm-12">
      <label for="complemento" class="form-label">Complemento</label>
      <input formControlName="complemento" id="complemento" type="text" class="form-control"
        placeholder="Complemento" />
    </div>
    <div class="col-md-6 col-sm-12" formGroupName="estado">
      <label for="estado" class="form-label">Estado</label>
      <select #estado (change)="searchCities($event)" formControlName="nome" id="estado" type="text"
        class="form-control" placeholder="Estado">
        <option [value]="state" [label]="state" *ngFor="let state of estadosOpcoes">{{state}}</option>
      </select>
    </div>
    <div class="col-md-6 col-sm-12" formGroupName="cidade">
      <label for="cidade" class="form-label">Cidade</label>
      <select (change)="searchBairros(estado.value, $event.target)" formControlName="nome" id="cidade" type="text"
        class="form-control" placeholder="Cidade">

        <option [value]="state" [label]="state" *ngFor="let state of cidadesOpcoes">{{state}}</option>


      </select>
    </div>
    <div class="col-md-6 col-sm-12" formGroupName="bairro">
      <label for="bairro" class="form-label">Bairro</label>
      <select formControlName="nome" id="bairro" type="text" class="form-control" placeholder="Bairro">

        <option [value]="state" [label]="state" *ngFor="let state of bairrosOpcoes">{{state}}</option>


      </select>
    </div>
  </div>
  <hr>
  <div class="row">
    <h5 class="h5">VALORES</h5>
    <div class="col-md-4 col-sm-12">
      <label for="valor" class="form-label">Valor do imóvel</label>
      <input formControlName="valor" id="valor" type="text" class="form-control" placeholder="Valor do imóvel"
        aria-label="Valor do imóvel" currencyMask/>
    </div>
    <div class="col-md-4 col-sm-12">
      <label for="iptu" class="form-label">IPTU</label>
      <input formControlName="iptu" id="iptu" type="text" class="form-control" placeholder="IPTU" aria-label="IPTU" currencyMask/>
    </div>
    <div class="col-md-4 col-sm-12">
      <label for="condominio" class="form-label">Condomínio</label>
      <input formControlName="condominio" id="condominio" type="text" class="form-control" placeholder="Condomínio"
        aria-label="Condomínio" currencyMask/>
    </div>
    <div class="col-md-4 col-sm-12">
      <label for="taxas" class="form-label">Taxas</label>
      <input formControlName="taxas" id="taxas" type="text" class="form-control" placeholder="Taxas"
        aria-label="Taxas" currencyMask/>
    </div>
    <div class="col-md-4 col-sm-12">
      <label for="observacaoValor" class="form-label">Observação sobre valores</label>
      <input formControlName="observacaoValor" id="observacaoValor" type="text" class="form-control"
        placeholder="Observação sobre valores" aria-label="Observação sobre valores" />
    </div>
  </div>

  <hr>
  <div class="row">
    <h5 class="h5">MEDIDAS</h5>
    <div class="col-md-4 col-sm-12">
      <label for="areaTotal" class="form-label">Área Total</label>
      <div class="input-group"> 
        <input formControlName="areaTotal" id="areaTotal" type="text" class="form-control" aria-label="Text input with dropdown button" currencyMask [options]="{prefix: ''}">
        <select formControlName="medidaAreaTotal" class="btn btn-outline-secondary dropdown-toggle select-input" type="button">
          <option class="text-start" [value]="i" *ngFor="let opcao of medidasOpcoes; let i = index">{{opcao}}</option>
        </select>

      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <label for="areaUtil" class="form-label">Área Útil</label>
      <div class="input-group">
        <input formControlName="areaUtil" id="areaUtil" type="text" class="form-control"
          aria-label="Text input with dropdown button" currencyMask [options]="{prefix: ''}">
          <select formControlName="medidaAreaUtil" class="btn btn-outline-secondary dropdown-toggle select-input" type="button">
            <option class="text-start" [value]="i" *ngFor="let opcao of medidasOpcoes; let i = index">{{opcao}}</option>
          </select>

      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <label for="areaConstruida" class="form-label">Área Construída</label>
      <div class="input-group">
        <input formControlName="areaConstruida" id="areaConstruida" type="text" class="form-control"
          aria-label="Text input with dropdown button" currencyMask [options]="{prefix: ''}">
          <select formControlName="medidaAreaConstruida" class="btn btn-outline-secondary dropdown-toggle select-input" type="button">
            <option class="text-start" [value]="i" *ngFor="let opcao of medidasOpcoes; let i = index">{{opcao}}</option>
          </select>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <label for="areaTerreno" class="form-label">Área Terreno</label>
      <div class="input-group">
        <input formControlName="areaTerreno" id="areaTerreno" type="text" class="form-control"
          aria-label="Text input with dropdown button" currencyMask [options]="{prefix: ''}">
          <select formControlName="medidaAreaTerreno" class="btn btn-outline-secondary dropdown-toggle select-input" type="button">
            <option class="text-start" [value]="i" *ngFor="let opcao of medidasOpcoes; let i = index">{{opcao}}</option>
          </select>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <label for="terrenoFrente" class="form-label">Terreno Frente</label>
      <div class="input-group">
      <input formControlName="terrenoFrente" id="terrenoFrente" type="text" class="form-control"
        placeholder="Terreno Frente" currencyMask [options]="{prefix: ''}" />
        <select formControlName="medidaTerrenoFrente" class="btn btn-outline-secondary dropdown-toggle select-input" type="button">
          <option class="text-start" [value]="i" *ngFor="let opcao of medidasOpcoes; let i = index">{{opcao}}</option>
        </select>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <label for="terrenoFundos" class="form-label">Terreno Fundo</label>
      <div class="input-group">
      <input formControlName="terrenoFundos" id="terrenoFundos" type="text" class="form-control"
        placeholder="Terreno Fundo" currencyMask [options]="{prefix: ''}" />
        <select formControlName="medidaTerrenoFundos" class="btn btn-outline-secondary dropdown-toggle select-input" type="button">
          <option class="text-start" [value]="i" *ngFor="let opcao of medidasOpcoes; let i = index">{{opcao}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <label for="terrenoEsquerda" class="form-label">Terreno Esquerda</label>
      <div class="input-group">
      <input formControlName="terrenoEsquerda" id="terrenoEsquerda" type="text" class="form-control"
        placeholder="Terreno Esquerda" currencyMask [options]="{prefix: ''}" />
        <select formControlName="medidaTerrenoEsquerda" class="btn btn-outline-secondary dropdown-toggle select-input" type="button">
          <option class="text-start" [value]="i" *ngFor="let opcao of medidasOpcoes; let i = index">{{opcao}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <label for="terrenoDireita" class="form-label">Terreno Direita</label>
      <div class="input-group">
      <input formControlName="terrenoDireita" id="terrenoDireita" type="text" class="form-control"
        placeholder="Terreno Direita" currencyMask [options]="{prefix: ''}" />
        <select formControlName="medidaTerrenoDireita" class="btn btn-outline-secondary dropdown-toggle select-input" type="button">
          <option class="text-start" [value]="i" *ngFor="let opcao of medidasOpcoes; let i = index">{{opcao}}</option>
        </select>
      </div>
    </div>
  </div>

  <hr>
  <div class="row">
    <h5 class="h5">CARACTERÍSTICAS</h5>
    <div class="col-md-2 col-sm-12">
      <label for="qtdDormitorios" type="number" class="form-label">Dormitórios</label>
      <input formControlName="qtdDormitorios" id="qtdDormitorios" type="number" class="form-control"
        placeholder="Dormitórios" />
    </div>
    <div class="col-md-2 col-sm-12">
      <label for="qtdSuites" class="form-label">Suítes</label>
      <input formControlName="qtdSuites" id="qtdSuites" type="number" class="form-control" placeholder="Suítes" />
    </div>
    <div class="col-md-2 col-sm-12">
      <label for="qtdBanheiros" class="form-label">Banheiros</label>
      <input formControlName="qtdBanheiros" id="qtdBanheiros" type="number" class="form-control"
        placeholder="Banheiros" />
    </div>
    <div class="col-md-2 col-sm-12">
      <label for="qtdGaragens" class="form-label">Vagas de garagem</label>
      <input formControlName="qtdGaragens" id="qtdGaragens" type="number" class="form-control"
        placeholder="Vagas de garagem" />
    </div>
    <div class="col-md-2 col-sm-12">
      <label for="qtdSalas" class="form-label">Salas</label>
      <input formControlName="qtdSalas" id="qtdSalas" type="number" class="form-control" placeholder="Salas" />
    </div>
    <div class="col-md-2 col-sm-12">
      <label for="qtdAcomodacoes" class="form-label">Acomodações</label>
      <input formControlName="qtdAcomodacoes" id="qtdAcomodacoes" type="number" class="form-control"
        placeholder="Acomodações" />
    </div>
    <div class="col-md-2 col-sm-12">
      <label for="mobiliado" class="form-label">Mobiliado</label>
      <input formControlName="mobiliado" id="mobiliado" type="number" class="form-control" placeholder="Mobiliado" />
    </div>
    <div class="col-md-2 col-sm-12">
      <label for="pavimento" class="form-label">Pavimento</label>
      <input formControlName="pavimento" id="pavimento" type="number" class="form-control" placeholder="Pavimento" />
    </div>
    <div class="col-md-2 col-sm-12">
      <label for="anoConstrucao" class="form-label">Ano construção</label>
      <input formControlName="anoConstrucao" id="anoConstrucao" type="number" class="form-control"
        placeholder="Ano construção" />
    </div>
    <div class="col-md-2 col-sm-12">
      <label for="unidade" class="form-label">Unidade</label>
      <input formControlName="unidade" id="unidade" type="number" class="form-control" placeholder="Unidade" />
    </div>
    <div class="col-md-2 col-sm-12">
      <label for="numAndar" class="form-label">Número Andar</label>
      <input formControlName="numAndar" id="numAndar" type="number" class="form-control" placeholder="Número Andar" />
    </div>

    <div class="col-md-2 col-sm-12">
      <label for="permuta" class="form-label">Permuta</label>
      <select formControlName="permuta" id="permuta" type="number" class="form-control" placeholder="Permuta">
        <option value="1">Sim, aceita</option>
        <option value="0">Não</option>
      </select>
    </div>
  </div>

  <hr>
  <div class="row">
    <h5 class="h5">CARACTERÍSTICAS PERSONALIZADAS</h5>
  </div>

  <hr>
  <div class="row">
    <h5 class="h5">DESCRIÇÃO</h5>
    <!-- <textarea formControlName="descricao" id="descricao" class="form-control" name="descricao" cols="30"
      rows="10"></textarea> -->
      <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editores.descricao"  [toolbar]="toolbar"> </ngx-editor-menu>
        <ngx-editor [editor]="editores.descricao"  formControlName="descricao" [ngModel]="html" [disabled]="false" [placeholder]="'Type here...'"></ngx-editor>
      </div>
  </div>
  <hr>
  <div class="row">
    <h5 class="h5">OBSERVAÇÕES</h5>
    <div class="NgxEditor__Wrapper">
      <ngx-editor-menu [editor]="editores.observacao"  [toolbar]="toolbar"> </ngx-editor-menu>
      <ngx-editor [editor]="editores.observacao"  formControlName="observacao" [ngModel]="html" [disabled]="false" [placeholder]="'Type here...'"></ngx-editor>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center mt-5">

    <!-- <button (click)="onSubmit()" type="button" class="btn btn-primary">CADASTRAR IMÓVEL</button> -->

  </div>
</form>