<form formGroupName="imovelForm" class="container">
  <div class="row">
    <h3>RESPONSÁVEL</h3>
    <div class="col-6">
      <input formGroupName="imovelForm" type="text" class="form-control" placeholder="Proprietário" aria-label="Recipient's username"
        aria-describedby="basic-addon2" />
    </div>
    <div class="col-6">
      <input type="text" class="form-control" placeholder="Corretor" aria-label="Recipient's username"
        aria-describedby="basic-addon2" />
    </div>
  </div>

  <div class="row">
    <h3>INFORMAÇÕES</h3>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Código Ref." aria-label="Código Ref."
        aria-describedby="basic-addon2" />
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Finalidade" aria-label="Recipient's username"
        aria-describedby="basic-addon2" />
    </div>
    <div class="col-4">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Tipo Imóvel" aria-label="Tipo Imóvel"
          aria-describedby="basic-addon2" />
      </div>
    </div>
  </div>
  <div class="row">
    <h3>LOCALIZAÇÃO</h3>
    <div class="col-6">
      <input type="text" class="form-control" placeholder="Visilidade" aria-label="Recipient's username"
        aria-describedby="basic-addon2" />
    </div>
    <div class="col-6">
      <input type="text" class="form-control" placeholder="CEP" aria-label="Recipient's username"
        aria-describedby="basic-addon2" />
    </div>
    <div class="col-6">
      <input type="text" class="form-control" placeholder="Logradouro" aria-label="Recipient's username"
        aria-describedby="basic-addon2" />
    </div>
    <div class="col-6">
      <input type="text" class="form-control" placeholder="Número" aria-label="Recipient's username"
        aria-describedby="basic-addon2" />
    </div>
    <div class="col-6">
      <input type="text" class="form-control" placeholder="Complemento" aria-label="Recipient's username"
        aria-describedby="basic-addon2" />
    </div>
    <div class="col-6">
      <input type="text" class="form-control" placeholder="Estado" aria-label="Recipient's username"
        aria-describedby="basic-addon2" />
    </div>
    <div class="col-6">
      <input type="text" class="form-control" placeholder="Cidade" aria-label="Recipient's username"
        aria-describedby="basic-addon2" />
    </div>
    <div class="col-6">
      <input type="text" class="form-control" placeholder="Bairro" />
    </div>
  </div>
  <div class="row">
    <h3>VALORES</h3>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Valor do imóvel" aria-label="Valor do imóvel"
        aria-describedby="basic-addon2" />
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="IPTU" aria-label="IPTU" aria-describedby="basic-addon2" />
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Condomínio" aria-label="Condomínio"
        aria-describedby="basic-addon2" />
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Taxas" aria-label="Taxas" aria-describedby="basic-addon2" />
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Observação sobre valores"
        aria-label="Observação sobre valores" aria-describedby="basic-addon2" />
    </div>
  </div>

  <div class="row">
    <h3>MEDIDAS</h3>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Área total" aria-label="Área total"
        aria-describedby="basic-addon2" />
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Área útil" aria-label="Área útil"
        aria-describedby="basic-addon2" />
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Área construída" aria-label="Condomínio"
        aria-describedby="basic-addon2" />
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Área terreno" aria-label="Taxas"
        aria-describedby="basic-addon2" />
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Terreno Frente" />
    </div>

    <div class="col-4">
      <input type="text" class="form-control" placeholder="Terreno Fundo" />
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Terreno Esquerda" />
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Terreno Direita" />
    </div>
  </div>

  <div class="row">
    <h3>CARACTERÍSTICAS</h3>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Dormitórios" />
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Suítes" aria-describedby="basic-addon2" />
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Banheiros" aria-describedby="basic-addon2" />
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Vagas de garagem" aria-describedby="basic-addon2" />
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Salas" />
    </div>

    <div class="col-4">
      <input type="text" class="form-control" placeholder="Acomodações" />
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Mobiliado" />
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Pavimento" />
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Ano construção" />
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Unidade" />
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Número Andar" />
    </div>
    
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Permuta" />
    </div>
  </div>
  <div class="row">
    <h3>CARACTERÍSTICAS PERSONALIZADAS</h3>
  </div>
  
  <div class="row">
    <h3>DESCRIÇÃO</h3>
    <textarea name="descricao" id="descricao
    " cols="30" rows="10"></textarea>
  </div>
  <div class="row">
    <h3>OBSERVAÇÕES</h3>
    <textarea name="descricao" id="descricao
    " cols="30" rows="10"></textarea>
  </div>
  <div class="d-flex justify-content-center align-items-center">

    <button type="button" (click)="onSubmit()" class="btn btn-primary">CADASTRAR IMÓVEL</button>

  </div>
</form>